/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root{
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-family: Montserrat, Helvetica, sans-serif;
	--black: #0D0D0D;
	--white: #F2F2F2;
	--teal: #7ABFBF;
	--lightblue: rgba(122,191,191,.5);
	--orange: #EB5428;

}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
* {
    box-sizing: border-box;
}

body{
	min-width: 414px;
	display: grid;
}

h1{
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 40px;
	display: flex;
	margin-top: 170px;
	justify-content: center;
}

h2{
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 30px;
}

h3{
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 25px;
}

header{
	display: grid;
}

header p{
	padding: 10px 10px 12px 8px;
}

nav a{
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 20px;
}

nav span{
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 20px;
}

.details dl{
	display: grid;
	grid-template-columns: auto auto;
	padding: 5px 2px 7px 5px;
	width: 230px;
}

.details h2{
	display: flex;
	justify-content: center;
}

.ingredients h2{
	display: flex;
	justify-content: center;
	margin: 10px 0px 15px;
}

.ingredients ul{
	display: grid;
}

.ingredients li{
	padding: 10px;
}

.directions h2{
	display: flex;
	justify-content: center;
}

.directions ol{
	display: grid;
	margin-top: 18px;
}

.directions li{
	padding: 10px;
}

aside{
	background-color: var(--teal);
	display: grid;
	grid-template-columns: auto;
}

.side-dishes h2{
	display: flex;
	justify-content: center;
	padding: 10px 0px 25px;
}

.side-dishes img{
	width: 110px;
}

.social li{
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 20px;
}

footer{
	font-family:Bebas Neue, Helvetica, sans-serif;
	font-size: 20px;
}

footer h2{
	display: none;
}

p{
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

dd{
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

li{
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

input{
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	width: 245px;

}

dt{
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

#StTaco{
	width: 100%;
}

menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

menu li{
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 20px;
	list-style-type: none;
}

#save{
	flex: 1;
}

#share{
	flex: 2;
}

#print{
	flex: 3;
}

#jtr{
	flex: 4;
}

li a{
	text-decoration: none;
}

form{
	display: flex;
	justify-content: center;
	position: absolute;
	border: 2px var(--orange);
	top: 100px;
	right: 62px;
}

.social ul{
	display: flex;
	justify-content: space-evenly;
}

.social li{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #EB5428;
}

.good-eats{
	display: flex;
	flex-direction: column-reverse;
}

.good-eats h3{
	display: none;
}

.good-eats p{
	font-family: Bebas Neue, Helvetica, sans-serif;
	text-transform: capitalize;
	align-self: center;
}

.good-eats img{
	width: 220px;
	align-self: center;
	margin: 10px;
}

/*-------- css for menu --------*/
nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}





/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:768px){
    body {
        min-width: 768px;
        display: grid;
    }

	menu{
		display: flex;
	}

	aside{
		display: grid;
		grid-template-columns: auto auto;
	}
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width:1280px){
    body {
        min-width: 1280px;
        display: grid;
    }
}